$link__colors: #0372AB;

.form {
  &__preview {
    background: linear-gradient(254.99deg, #8991D7 31.79%, #555FB5 82.65%),
    linear-gradient(92.44deg, #D12912 19.86%, #F64A3A 96.45%),
    linear-gradient(119.06deg, #1A237E 0.01%, #2636AB 31.68%, #3750E7 77.9%, #3D5AFE 100%), #B7CFF2;
    color: white;
    min-height: 450px;

    .title {
      padding: 0 10px;
      font-size: calc(24px + 17 * ((100vw - 420px) / (1440 - 420)));
      font-weight: 700;
      margin: 0 0 20px 0;
    }
  }
  &__container{
    padding: 36px 80px 30px 80px;
    @media (max-width: 768px) {
      padding: 15px 20px 30px 20px;
    }
    .time {
      border: 1px solid #F79259;
      border-radius: 3px;
    }
    &__link {
      color: $link__colors;
      text-decoration: underline;
    }
    .title {
      font-size: calc(18px + 6 * ((100vw - 100px) / (1440 - 100)));
      font-weight: 700;
      margin: 0 0 20px 0;
    }
    .text{
      font-size: calc(12px + 5 * ((100vw - 112px) / (1440 - 112)));
    }
    .text-form{
      font-size: calc(11px + 5 * ((100vw - 112px) / (1440 - 112)));
    }
  }
}